<h1>Hello. Fill below inputs to record your blog.</h1>
<hr />
<form action="/blog" method="post">
    <input type="text" required name="author" placeholder="Author Name" id="author-box">
    <br />
    <input type="text" required name="title" placeholder="Title" id="author-box">
    <br />
    <textarea type="" name="blog" required placeholder="Blog Content" id="blog-box"></textarea>
    <input type="submit" class="btn btn-primary" id = "submitButton">
</form>